* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #76d155;
}
.login {
  width: 390px;
  height: auto;
  background-color: white;
  margin: 200px auto;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 12px 12px 2px 1px rgba(4, 4, 199, 0.39);
}
.login__user {
  width: 100%;
  height: 40px;
  background-color: #cdd2d7;
  margin-bottom: 20px;
  padding-left: 12px;
  border: none;
}
.login__password {
  width: 100%;
  height: 40px;
  background-color: #cdd2d7;
  margin-bottom: 30px;
  padding-left: 12px;
  border: none;
}
.login__btn {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #82f15a;
  color: white;
}
.login__registered {
  text-align: center;
  margin-top: 10px;
  color: darkgray;
}
.login__create {
  text-decoration: none;
  color: #76d155;
}
